.btn-std{
  padding: var(--space-sm) var(--space-md); /* Added horizontal breathing room */  
  min-width: 100px;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  margin-top: calc(var(--space-md)/2);
  font-size: var(--font-md);
}

.btn-std:hover{
  filter:brightness(1.3);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn-std:active{
  transform: translateY(0px);
  filter: brightness(0.8);
}

.btn-std.btn-basic{
  background-color: var(--primary-main);
  box-shadow: 0 0 5px rgba(92, 131, 116, 0.3);
}

.btn-std.btn-caution{
  background-color: var(--warning-gold);
  box-shadow: 0 0 5px rgba(92, 131, 116, 0.3);
}

.btn-std.btn-danger{
  background-color: var(--error-red);
  box-shadow: 0 0 5px rgba(92, 131, 116, 0.3);
}