html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents the whole page from scrolling */
}

.DASH_WRAPPER {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0b0b0b;
}

