.LEFTBAR_MIDDLE_WRAPPER{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: var(--space-sm);
}

.LEFTBAR_LOCATION_DIV p {
  margin: 0; /* Clear the default margins to get true centering */
}

.LEFTBAR_LOCATION_DIV{
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: auto auto;
  background-color: var(--primary-muted);
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
  align-items: center;
  /* gap: var(--space-sm); */
}

/*This is the grab button  */
.LEFTBAR_LOCATION_DIV :nth-child(1){ 
  grid-row: 1/3;
  text-align: left;
  font-size: x-large;
}

.LEFTBAR_LOCATION_DIV :nth-child(1):hover{
  cursor: grab;
}

.LEFTBAR_LOCATION_DIV :nth-child(1):active{
  cursor: grabbing;
}

/* This is the top row (name) of the element */
.LEFTBAR_LOCATION_DIV :nth-child(2){
  border-bottom: 1px solid var(--bg-surface);
  grid-column: 2;
  grid-row: 1;
  padding-bottom: 2px;
  text-align: center;
}


/* This is the second row in the Grid (Long/Lat) */
.LEFTBAR_LOCATION_DIV :nth-child(3){
  grid-column: 2;
  grid-row: 2;
  padding-top: 2px;
  text-align: center;
}

/* Delete Button*/
.LEFTBAR_DELETE{
  grid-column: 3;
  grid-row: 1/3;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color:var(--text-main);
}

.LEFTBAR_DELETE:hover{
  cursor: pointer;
}

.LEFTBAR_DELETE:active{
  transform: translateY(3px);
  filter: brightness(0.8);
}