.ItinSelect_Wrapper{
  padding: var(--space-md);
  max-width: 1600px;
  margin:0 auto;
}

.ItinSelect_TopRow{
  display: flex;
  flex-direction: row;
}

.ItinSelect_TopRow button{
  margin-left: auto;
  font-size: var(--font-lg);
}

.ItinSelect_Grid {
  margin-top: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  min-height: 100px;     /* Ensure it doesn't collapse */
  justify-content: center; /* Centers columns if they don't fill the whole row */
}

.ItinSelect_TripCard{
  border:1px solid var(--primary-muted);
  background: var(--bg-surface);
  width:100%;
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-main);
}

.ItinSelect_TripCard h2{
  text-align: center;
  /* The Truncation Magic */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limits text to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Layout & Centering */
  width: 100%;
  margin: var(--space-xs) 0;
  text-align: center; /* Keeps the text centered within the truncation */
  
  /* Make the ID stand out slightly less than the Title */
  font-size: var(--font-lg); 
  color: var(--color-text-bright);
}

.draft_pill,
.planned_pill,
.complete_pill,
.archived_pill{
  /* This forces the banner to ignore the parent's padding */
  width: calc(100% + (var(--space-sm) * 2)); 
  margin-left: calc(var(--space-sm) * -1);
  
  border-top: 1px solid var(--primary-muted);
  border-bottom: 1px solid var(--primary-muted);
  padding: var(--space-xs) 0;
  text-align: center;
  margin-top: var(--space-md);
  
  /* Adds a little "ribbon" weight */
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.draft_pill{
  background: var(--error-red);
  color: rgb(255, 255, 255);
}

.planned_pill{
  background: var(--success-teal);
  color: black;
}

.archived_pill{
  background: brown;
}

.complete_pill{
  background: var(--warning-gold);
}

.ItinSelect_Metrics{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  margin-top: var(--space-xs);
  text-align: center;
  font-size: var(--font-lg);
}

.ItinSelect_Met_Divider{
  border-left: 1px solid var(--text-main);
  border-right: 1px solid var(--text-main);
}

.ItinSelect_TripSummary{
  text-align: center;
  /* The Truncation Magic */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limits text to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Layout & Centering */
  width: 100%;
  margin: var(--space-sm) 0;
  text-align: center; /* Keeps the text centered within the truncation */
  font-size: var(--font-lg);
}