@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Pinyon+Script&family=Tangerine:wght@400;700&display=swap');

.HEADER_WRAPPER{
  width: 100%;
  height: 60px;
  background: var(--bg-surface);
  display: grid;
  grid-template-columns: 150px auto 200px;
  align-items: center;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--primary-muted)
}

.HEADER_Logout{
  margin: 0px;
}

.HEADER_USER{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: var(--space-sm);
}

.HEADER_LOGO h1{
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}